.idea/
*.log
*.swp
*.swo
.bak
*.bak
.DS_Store
build/*
logs/
*.iml
vendor/
*.lock
/.project
arefactor/app/app
arefactor/app/app.exe
client/client
.vscode/
/client/main
client/client.exe
config_*.toml
datadir_*
data/
/dump_*
db_*/
common/crypto/debug.test
core/debug.test
arefactor/app/debug
*.test
ogcore/state/debug.test
/vm/compiler/
tests/genesis_account/secret.json
main.exe
arefactor/app/app1.exe
deployment/deployment
tests/testDbTPs/testDb.exe
tests/testDbTPs/datadir
tests/testDbTPs/genesis.json
deployment/private/
deployment/solo/
