.idea/
*.log
*.swp
*.swo
.bak
*.bak
.DS_Store
build/*
logs/
*.iml
vendor/
*.lock
/.project
app/app
app/app.exe
client/client
.vscode/
/datadir/
/client/main
client/client.exe
config_*.toml
datadir_*
/dump_*
db_*/